<h1>Small Projects</h1>
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <%= render 'expanding-cards' %>
        <%= render 'progress-steps' %>
      </div>
    </div>
    <%#= link_to "Next", smallprojects_path %>
    <h1 class="header"></h1>
  </div>
</section>
